[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# To download media as parallel
parallelmediadownloader = "*"
# To web scrape html as parallel
parallelhtmlscraper = "*"
# To process images to remove small images like Emoji and thumbnail
Pillow = "*"
# To calculate date difference simply
python-dateutil = "*"
# To read yaml file as logging.dictconfig
pyyaml = "*"
# To read yaml file as config
yamldataclassconfig = "*"

[dev-packages]
aioresponses = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
radon = "*"
fixturefilehandler = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python archive.py"
test = "cd tests && pytest"
coverage = "cd tests && pytest --verbose --cov=mediaarchiver --cov-report=term-missing"
flake8 = "flake8 --max-line-length=120 --statistics --show-source --radon-show-closures ."
cc = "radon cc --show-complexity --min B ."
mi = "radon mi --show ."
